.product{
    width: 300px;
    height: max-content;
    margin: 25px 15px;
    padding: 10px; 
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    text-align:center;
    &>div{
        margin: 5px 0px;
    }
}

.img-class{
    width: 300px;
    height: 280px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.details-info{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.price{
    display:block;
    & del{
        color:gray;
    }
}
.details{
    width: 100px;
    border-radius: 25px;
    border: 0px;
    text-align: center;

    
}