.menu{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    & a{
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-bottom: 1px solid white;
        &:visited{
            color: white;
        }
    }
}
.router-class{
    padding: 10px;
}